<section>
  <div class="page-header">
    <h1 class="text-danger"><b>Under Development</b></h1>
    <br>
    <h1>Tutors</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="tutor in vm.tutors" ui-sref="tutors.view({ tutorId: tutor._id })" class="list-group-item">
      <h4 class="list-group-item-heading" ng-bind="tutor.name"></h4>
      <p class="list-group-item-text">
        Subject: {{tutor.subject}}<br>
        Language: {{tutor.language}}<br>
        City: {{tutor.city}}<br>
      </p>
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="tutor.created | date:'mediumDate'"></span>
        by
        <span ng-if="tutor.user" ng-bind="tutor.user.displayName"></span>
        <span ng-if="!tutor.user">Deleted User</span>
      </small>

    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.tutors.$resolved && !vm.tutors.length">
    No tutors yet, why don't you <a ui-sref="tutors.create">create one</a>?
  </div>
</section>
