<section>
  <div class="page-header">
    <h1 ng-bind="vm.tutor.name"></h1>
  </div>
  <img ng-src="vm.tutor.imageURL">
  <div class="pull-right" ng-show="vm.tutor.isCurrentUserOwner">
    <a class="btn btn-primary" ui-sref="tutors.edit({ tutorId: vm.tutor._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.tutor.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.tutor.user" ng-bind="vm.tutor.user.displayName"></span>
      <span ng-if="!vm.tutor.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.tutor.content"></p>
</section>
