<section ng-controller="HomeController">
  <div class="row ">
    <div class="col-sm-4">
      <img src="/modules/core/client/img/sold_tutor.jpg" width="120px"  alt="logo" class="roundimg">
      <i class="h2art">I wanna ...</i>
    </div>

    <div align="center" class=" hvr-bob col-sm-4">
<!--t-->
        <a  ui-sref="articles.create">
          <img src="/modules/core/client/img/findtutor.jpg" alt="pic1" width="300" height="200" class="img-circle">
        </a>
        <h4 class="imagedesc ">Find a tutor!</h4>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-4  hvr-bob" align="center">
      <a  ui-sref="articles.create">
        <img src="/modules/core/client/img/registerastu.jpg" alt="pic1" width="300" height="200" class="img-circle">
      </a>
      <h4 class="imagedesc">Register as a student!</h4>
    </div>

    <div class="col-sm-4 " align="center">

        <i class="glyphicon glyphicon-refresh text-center" id="refreshsign"></i>

    </div>

    <div class="col-sm-4  hvr-bob " align="center">
      <a  ui-sref="articles.create">
        <img src="/modules/core/client/img/findstudent.jpg" alt="pic1" width="300" height="200" class="img-circle">
      </a>
      <h4 class="imagedesc">Find a student!</h4>
    </div>
  </div>

  <div class="row">
    <div align="center" class="div1 hvr-bob col-sm-4 col-sm-offset-4">

      <a  ui-sref="tutors.create">
        <img src="/modules/core/client/img/registerasatutor.jpg" alt="pic1" width="300" height="200" class="img-circle">
      </a>
      <h4 class="imagedesc">Register as a tutor!</h4>

    </div>
  </div>
 <hr style="border-color: #0b97c4">
  <div class="footer">
    <p class="text-center"><span class="glyphicon glyphicon-check"></span> Created by Xuanyu Zhao - Powered by
      <span class="glyphicon glyphicon-copyright-mark"></span>&nbsp;Meanjs&nbsp;
      <img src="/modules/core/client/img/meanicon.png" alt="pic1" width="20" height="20" >
       <a href="https://github.com/XuanyuZhao1984/GradeUp">Github Repo</a></p>
  </div>
</section>
