<section ng-controller="HomeController">
  <div class="row ">
    <div class="col-sm-4">
      <img src="/modules/core/client/img/sold_tutor.jpg" width="120px"  alt="logo" class="roundimg">
      <i class="h2art">I wanna ...</i>
    </div>

    <div align="center" class=" hvr-bob col-sm-4">
<!--t-->
        <a  ui-sref="tutors.list">
          <img src="/modules/core/client/img/findtutor.jpg" alt="pic1" width="300" height="200" class="img-circle">
        </a>
        <h4 class="imagedesc ">Find a tutor!</h4>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-4  hvr-bob" align="center">
      <a  ui-sref="students.create">
        <img src="/modules/core/client/img/registerastu.jpg" alt="pic1" width="300" height="200" class="img-circle">
      </a>
      <h4 class="imagedesc">Register as a student!</h4>
    </div>

    <div class="col-sm-4 " align="center">

        <i class="glyphicon glyphicon-refresh text-center" id="refreshsign"></i>

    </div>

    <div class="col-sm-4  hvr-bob " align="center">
      <a  ui-sref="students.list">
        <img src="/modules/core/client/img/findstudent.jpg" alt="pic1" width="300" height="200" class="img-circle">
      </a>
      <h4 class="imagedesc">Find a student!</h4>
    </div>
  </div>

  <div class="row">
    <div align="center" class="div1 hvr-bob col-sm-4 col-sm-offset-4">

      <a  ui-sref="tutors.create">
        <img src="/modules/core/client/img/registerasatutor.jpg" alt="pic1" width="300" height="200" class="img-circle">
      </a>
      <h4 class="imagedesc">Register as a tutor!</h4>

    </div>
  </div>

</section>
